#body {
	background-image: url("HWIco-master/ebi/images/slider/1.png");
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
}



body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,form,fieldset,p{margin:0; padding:0;}
img,fieldset{border:none;}
body{font:9px/11px "Tahoma", Arial, Helvetica, sans-serif; }
.clear{clear:both;}
*{margin:0; padding:0}


/***** layout starts *****/
#layout{width:950px; margin:0 auto; padding-top:24px}

/***** header starts *****/


/***** menu starts *****/

#menu .logo{float:left; width:298px; padding:0 0 0 21px}
#menu .logo img{float:left; width: auto;}
#menu p{float:left; width:595px; text-align:right; font-size:11px; line-height:13px; color:#dedcbc; padding:20px 20px 0 0}
#menu ul{float:right; width:481px; list-style:none; margin:0; padding:20px 0 0 0}
#menu li{float:left; width:auto; font-size:11px; line-height:13px; color:#e1e1e1; padding:0 8px; background:url(../images/menu_border.gif) no-repeat 0 2px}
#menu li a{color:#e1e1e1; text-decoration:none;}
#menu li a:hover{color:#d7d4a8; text-decoration:none;}
#menu li a.current{color:#d7d4a8; text-decoration:none}
#menu li.first{background:none; padding:0 8px 0 0}
/***** menu ends *****/

#banner{float:left; width:934px; height:261px; background:url(../images/slider/img01.jpg) no-repeat 0 0; margin:0 0 0 8px}
#banner_inner{float:left; width:934px; height:261px; background:url(../images/slider/img01.jpg) no-repeat 0 0; margin:0 0 0 8px}
/***** form container starts *****/
.find_love{float:left; width:290px; border:4px solid #2c2c2c; border-top:none; background:#2c2c2c url(../images/form_bg.gif) repeat-x 0 bottom; margin:0 0 0 21px; display:inline}
.find_love h2{float:left; width:290px}
.find_love .form_container{float:left; width:290px; padding-top:23px}
.form_container .search_row{float:left; width:290px; padding-bottom:8px}
.form_container .search_row.last{float:left; width:290px; padding:5px 0 0 0; background:none}
.form_container .search_row .search_column_1{float:left; width:94px; padding:0 0 0 0}
.form_container .search_row .search_column_2{float:left; width:196px}

.form_container form{float:left; width:290px;}
.form_container fieldset{float:left; width:288px; border:none; padding:0 0 24px 0}
.form_container label{float:left; width:auto; color:#d9d7bc; padding:5px 0 0 23px}
.form_container label.seeking{float:left; width:auto; color:#d9d7bc; padding:5px 13px 0 8px}
.form_container label.check{float:left; width:auto; font-size:9px; line-height:11px; color:#fff; padding:4px 10px 0 9px; margin:0}
.form_container input{float:left; width:90px; font-size:11px; line-height:13px; color:#216588; margin:0; padding:0}
.form_container input.checkbox{float:left; width:auto; border:none; height:15px; padding:0; margin:2px 0 0 0}
.form_container input.search_btn{float:left; width:auto; padding:0; margin:0 0 0 0}
.form_container select{float:left; width:60px; height:19px; font-size:9px}
.form_container select.gender{float:left; width:56px;}
.form_container select.date{float:left; width:174px;}
.form_container select.dob{float:left; width:56px; font-size:10px; margin:0 3px 0 0}
/***** form container ends *****/
/***** header ends *****/