{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>about us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'firstapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'firstapp/css/style.css' " rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <![endif]-->
</head>

<BODY BACKGROUND ="C:\Users\ASUS\Desktop\HWIco-master\ebi\images\7.png"> </BODY>

<body>
<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 


      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="index.html"><h5><br><br><br><strong>MAKTOUB</strong></a></h1>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-justified">
		  <li><a href="">Quick Checkout</a></li>
          <li><a href="">Chat</a></li>
		   <li class=""><a href="file:///C:/Users/ASUS/Desktop/HWIco-master/ebi/full_width.html">About Us</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </nav>
  </div>
</header>

</script>
<br>
<br>
<br><br><br>
<br>
<br>
<br>
<br>
</body>
</html>